---
layout: default
title: Smartwatch Modelle mit Android Wear - Smartwatch Vergleich
---

    <div class="container fixed-header-spacer">
      <div class="jumbotron">
        <h2>Smartwatch Modelle mit Android Wear</h2>
        <p>Die folgenden Smartwatch-Modelle laufen mit dem Betriebssystem Android Wear.</p>
{% include filter.html %}
      </div>
    </div>

    <div class="container">
      <div class="row smartwatch-list">
{% assign items = site.smartwatch | where:"betriebssystem","Android Wear" | sort: "date" | reverse %}
{% for smartwatch in items %}
  {% include smartwatch-item.html %}
{% endfor %}
      </div>
    </div>

