//*******************************************************************************
// CARD
//*******************************************************************************

.smartwatch {
  //margin-bottom: 16px;
}

.card__image-wrapper {
  position: relative;
}

.card__image-wrapper a {
  display: block;
}

.card__image-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  font-size: 9px;
  font-weight: 800;
  line-height: 20px;
  color: #666;
  background-color: rgba(255,255,255,0.6);
  padding: 0 5px;
}

.card__image-desc a {
  color: #666;
  text-decoration: none;
  display: inline;
  font-weight: 800;
}

.card__image {
  width: 100%;
  min-width: 100%;
}

.feature__table {
  display: none;
}

.mdl-card__title {
  //padding: 8px;
}

.mdl-card__title-text a {
  //font-size: 20px;
  text-decoration: none;
  color: #3f51b5;
}


.mdl-card {
  width: auto;
  min-height: auto;
}

.mdl-card__actions.mdl-card--border .mdl-button {
  height: 26px;
  font-size: 11px;
  line-height: 26px;
}


.mdl-card__supporting-text {
  padding: 0;
}

.mdl-card__supporting-text {
  //padding: 16px;
}

.mdl-card__supporting-text .table {
  width: 260px;
}

.mdl-card__supporting-text .table {
  //width: 540px;
}

.mdl-card__supporting-text td {
  font-size: 16px;
  vertical-align: top;
  padding: 0;
}

.mdl-card__supporting-text tr {
  margin-bottom: 8px;
}

.feature__name {
  width: 120px;
}

.feature__name {
  width: 140px;
}

.feature__data {
  width: 140px;
}

.feature__data {
  width: 400px;
}


/*
.mdl-card {
  width: 100%;
  min-height: auto;
}


.card__image-wrapper {
  float: left;
}

.card__image {
  float: left;
  width: 205px;
  height: auto;
}

.card__content {
  float: left;
  width: 500px;
}
*/
