//*******************************************************************************
// GRID
//*******************************************************************************

.mdl-layout__content {
  //margin-top: 20px;
}

.page-content {
  padding-top: 20px;
}

.mdl-grid {
  max-width: 1000px;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding-top: 6px;
  padding-bottom: 6px;
}



//
// Chrome address bar won't hide on scrolling down #1072
// https://github.com/google/material-design-lite/issues/1072
//
.mdl-layout {
    overflow: visible;
}
.mdl-layout__drawer {
    position: fixed;
}
.mdl-layout__content {
    display: block;
    overflow: visible;
    margin-top: 64px;
}
.is-small-screen .mdl-layout__content {
    margin-top: 56px;
}
.mdl-layout__header {
    position: fixed;
}
.mdl-layout__obfuscator {
    position: fixed;
}
