# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

gulp/node_modules/*
*.DS_Store
.DS_Store
*Thumbs.db
Thumbs.db
.sass-cache
_site


node_modules/*
gulp/node_modules/*
dist/css/**/*.map
*.DS_Store
.DS_Store
*Thumbs.db
Thumbs.db
