---
layout: default
title: Smartwatch Übersicht - Verschiedene Modelle im Überblick zum Vergleich
---

    <div class="container fixed-header-spacer">
      <div class="jumbotron">
        <h1>Smartwatch Übersicht</h1>
        <p class="lead">smartwatch-liste.de versucht einen Überblick über die <br>verschiedenen Modelle auf dem Smartwatch-Markt zu liefern.</p>
        <p><small class="text-muted">Kein Anspruch auf Vollständigkeit. <br class="visible-xs-block"> Änderungen und Irrtümer vorbehalten.</small></p>

        <p>Smartwatch-Modelle Filtern:</p>
        <ul class="filterlist">
          <li class="filterlist__item"><a href="filter/kompatibel-mit-iphone-ios" class="filterlist__link">Kompatibel mit iPhone / iOS</a></li>
          <li class="filterlist__item"><a href="filter/smartwatch-modelle-mit-wlan/" class="filterlist__link">Modelle mit WLAN</a></li>
          <li class="filterlist__item"><a href="filter/smartwatch-modelle-2015/" class="filterlist__link">Modelle aus 2015</a></li>
        </ul>
        <ul class="filterlist">
          <li class="filterlist__item"><a href="hersteller/samsung" class="filterlist__link">Samsung</a></li>
          <li class="filterlist__item"><a href="hersteller/lg" class="filterlist__link">LG</a></li>
          <li class="filterlist__item"><a href="hersteller/motorola" class="filterlist__link">Motorola</a></li>
          <li class="filterlist__item"><a href="hersteller/pebble" class="filterlist__link">Pebble</a></li>
          <li class="filterlist__item"><a href="hersteller/apple" class="filterlist__link">Apple</a></li>
          <li class="filterlist__item"><a href="hersteller/asus" class="filterlist__link">Asus</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row smartwatch-list">
{% assign items = site.smartwatch | sort: "date" | reverse %}
{% for smartwatch in items %}
  {% include smartwatch-item.html %}
{% endfor %}
      </div>
    </div>

