---
layout: default
title: Smartwatch Übersicht - Verschiedene Modelle im Überblick zum Vergleich
---

    <div class="container fixed-header-spacer">
      <div class="jumbotron">
        <h1>Smartwatch Übersicht</h1>
        <p class="lead">smartwatch-liste.de versucht einen Überblick über die <br>verschiedenen Modelle auf dem Smartwatch-Markt zu liefern.</p>
        <p><small class="text-muted">Kein Anspruch auf Vollständigkeit. <br class="visible-xs-block"> Änderungen und Irrtümer vorbehalten.</small></p>
{% include filter.html %}
      </div>
    </div>

    <div class="container">
      <div class="row smartwatch-list">
{% assign items = site.smartwatch | sort: "date" | reverse %}
{% for smartwatch in items %}
  {% include smartwatch-item.html %}
{% endfor %}
      </div>
    </div>

