        <p>Smartwatch-Modelle Filtern:</p>
        <ul class="filterlist">
          <li class="filterlist__item"><a href="filter/kompatibel-mit-iphone-ios" class="filterlist__link">Kompatibel mit iPhone / iOS</a></li>
          <li class="filterlist__item"><a href="filter/smartwatch-modelle-mit-wlan/" class="filterlist__link">Modelle mit WLAN</a></li>
          <li class="filterlist__item"><a href="filter/smartwatch-modelle-2015/" class="filterlist__link">Modelle aus 2015</a></li>
          <li class="filterlist__item"><a href="filter/preis-bis-200-euro/" class="filterlist__link">Preis bis 200 €</a></li>
          <li class="filterlist__item"><a href="filter/preis-bis-300-euro/" class="filterlist__link">Preis bis 300 €</a></li>
        </ul>
        <ul class="filterlist">
          <li class="filterlist__item"><a href="hersteller/samsung" class="filterlist__link">Samsung</a></li>
          <li class="filterlist__item"><a href="hersteller/lg" class="filterlist__link">LG</a></li>
          <li class="filterlist__item"><a href="hersteller/motorola" class="filterlist__link">Motorola</a></li>
          <li class="filterlist__item"><a href="hersteller/pebble" class="filterlist__link">Pebble</a></li>
          <li class="filterlist__item"><a href="hersteller/apple" class="filterlist__link">Apple</a></li>
          <li class="filterlist__item"><a href="hersteller/asus" class="filterlist__link">Asus</a></li>
        </ul>
