//*******************************************************************************
// GRID
//*******************************************************************************


.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  @include breakpoint(sm) {
    //width: 760px;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  @include breakpoint(md) {
    //width: 1000px;
    width: 96%;
    min-width: 1000px;
  }

  @include breakpoint(lg) {
    //width: 1240px;
    width: 94%;
    min-width: 1240px;
  }

  @include breakpoint(xl) {
    width: 1480px;
  }

  &.container--first {
    margin-top: 40px;

    @include breakpoint(sm) {
      margin-top: 140px;
    }
    @include breakpoint(md) {
      margin-top: 200px;
    }
    @include breakpoint(lg) {
      margin-top: 260px;
    }
    @include breakpoint(xl) {
      margin-top: 320px;
    }
  }
}



.container--nopadding {
  padding-left: 0;
  padding-right: 0;
}



.row {
  margin-left: 0;
  margin-right: 0;

  @include breakpoint(sm) {
    margin-left: -20px;
    margin-right: -20px;
  }
}





//
// Offsets
//
.offset__both {
  @include breakpoint(sm) {
    margin-left: $offset--sm;
    margin-right: $offset--sm;
  }

  @include breakpoint(md) {
    margin-left: $offset--md;
    margin-right: $offset--md;
  }

  @include breakpoint(lg) {
    margin-left: $offset--lg;
    margin-right: $offset--lg;
  }

  @include breakpoint(xl) {
    margin-left: $offset--xl;
    margin-right: $offset--xl;
  }
}

.offset__left {
  @include breakpoint(sm) { margin-left: $offset--sm; }
  @include breakpoint(md) { margin-left: $offset--md; }
  @include breakpoint(lg) { margin-left: $offset--lg; }
  @include breakpoint(xl) { margin-left: $offset--xl; }
}

.offset__right {
  @include breakpoint(sm) { margin-right: $offset--sm; }
  @include breakpoint(md) { margin-right: $offset--md; }
  @include breakpoint(lg) { margin-right: $offset--lg; }
  @include breakpoint(xl) { margin-right: $offset--xl; }
}
