//*******************************************************************************
// MENU
//*******************************************************************************


.menu__button {
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  border-right: 0;
  border-left: 0;
  height: 25px;
  width: 34px;
  border: 0;
  padding: 4px;
  background-color: transparent;
}


.menu__button .icon-bar {
  background-color: #FFF;
  display: block;
  width: 26px;
  height: 3px;
}

.menu__button .icon-bar + .icon-bar {
  margin-top: 4px;
}



.pushy-active .menu__button {
  transform: translate3d(250px,0,0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}


//
// Pushy Plugin Changes
//
.pushy {
  width: 250px;
}

.pushy-left {
  -webkit-transform: translate3d(-250px,0,0);
  -moz-transform: translate3d(-250px,0,0);
  -ms-transform: translate3d(-250px,0,0);
  -o-transform: translate3d(-250px,0,0);
  transform: translate3d(-250px,0,0);
}

.container-push,
.push-push{
  -webkit-transform: translate3d(250px,0,0);
  -moz-transform: translate3d(250px,0,0);
  -ms-transform: translate3d(250px,0,0);
  -o-transform: translate3d(250px,0,0);
  transform: translate3d(250px,0,0);
}



.menu {}
.menu__list {
  margin: 0;
}

.menu__listitem a {
  padding: 10px;
}
